/*
ROUTINE RESULTS PAGE
******************************/

/* .container-routine-results {
    position: relative;
    text-align: center;
    background-color: #7AB0C5;
    background-image: url(../img/fernando-meloni-ztH3DB7uXcw-unsplash.jpeg);
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.container-routine-results h1 {
    width: 400px;
    height: 120px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #8f8f8f;
    border-radius: 20px;
    background-color: #fc9b9b;
    align-items: center;
    display: inline-block;
    margin: 30px;
    padding: 20px 20px;
    box-shadow: 0px 2px 3px #868686;
    text-decoration: none;
    border: 2px;
}

.container-routine-results .routine-list {
    width: 800px;
    min-height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    background: rgb(255,255,255, 0.8);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-bottom: 10px;
} */