{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container-nav">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="{%  url  'home'  %}">WHAT YOU NEED TO KNOW</a>
                    <a class="nav-link" href="{%  url  'search'  %}">SEARCH</a>
                    <a class="nav-link" href="{%  url  'routine'  %}">CREATE YOUR OWN ROUTINE</a>
                    <a class="nav-link" href="{%  url  'wishlist'  %}">WISHLIST</a>
                    <a class="nav-link" href="{%  url  'logout'  %}">SIGN OUT</a>
                </ul>     
            </div>
        </div>
    </nav>
</div>


<div class="container-search"><br><br>
    <h1>Are you looking for a shampoo or anything else ?</h1>

{% for product in products %}
{% csrf_token %}
<form action="results/{{ product.product_type }}/" method="POST">
    
    <div class="container-search-dropdown">
        <label for="search_product"><b>Search for a product</b></label>
        <div class="search_product">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected disabled>Product</option>
                <option value="1">Shampoo</option>
                <option value="2">Conditioner</option>
                <option value="3">Deep Conditioner</option>
                <option value="4">Leave-in Conditioner</option>
                <option value="5">Gel</option>
                <option value="6">Mousse</option>
                <option value="7">Oil</option>
                <option value="8">Serum</option>
            </select>
            <button type="submit" class="search-product">SEARCH</button>
        </div>
        <br>
</form> 

<form action="/results/{{ product.product_brand }}" method="POST">
    <!-- {% csrf_token %} -->
        <label for="search_brand"><b>Search by brand</b></label>
        <div class="search_brand">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected disabled>Brand name</option>
                <option value="1">Shea Moisture</option>
                <option value="2">Curlsmith</option>
                <option value="3">Cantu</option>
                <option value="4">Les Secrets de Loly</option>
                <option value="5">Desert Essence</option>
                <option value="6">Not Your Mother's Natural</option>
                <option value="7">Ouidad</option>
                <option value="8">Boucleme</option>
            </select>
            <button type="submit" class="search-brand">SEARCH</button>
        </div>
        
      
      </div>

</form>
{% endfor %}

</div>

{% endblock %}



<!-- results -->
<div class="container-search-results">
    <p>Search results for</p>
   
    

        <p>{{ form.product_type }}</p>

    
<!-- {% for product in products %}

                <p>{{ product.product_type }}</p>

            {% endfor %}
 -->
</div>



<!-- <form action="/results/" method="POST">
    {% csrf_token %}
        <label for="search_brand"><b>Search by brand</b></label>
        <div class="search_brand">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected disabled>-- Select brand --</option>
                <option value="1">Shea Moisture</option>
                <option value="2">Curlsmith</option>
                <option value="3">Cantu</option>
                <option value="4">Les Secrets de Loly</option>
                <option value="5">Desert Essence</option>
                <option value="6">Not Your Mother's Natural</option>
                <option value="7">Ouidad</option>
                <option value="8">Boucleme</option>
            </select>
            <button type="submit" class="search-brand">SEARCH</button>
        </div>
         -->


<div class="container-routine-results"><br><br>
    <h1>Your full hair care routine !</h1>
    
    <div class="routine-list" id="routine-list">
        {% if query %}
            {% if results %}
                {% for product in results %}
                    <div class="list">
                        <i>{{ product|escape }}</i><br>
                        {% if product.product_type == 'Shampoo' %}
                        
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            {% endif %}
                        
        
                        {% elif product.product_type == 'Conditioner' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}
                        
                        {% elif product.product_type == 'Deep' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}
                        
                        {% elif product.product_type == 'Leave-in' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}
                        
                        {% elif product.product_type == 'Gel' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}

                        {% elif product.product_type == 'Mousse' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}
                        
                        {% elif product.product_type == 'Oil' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}
                        
                        {% elif product.product_type == 'Serum' %}
                            <b>{{product.product_type}}</b>
                            <br>
                            {% if product.image is not Null %}
                                <a href="{{ product.product_url }}"  target="_blank">
                                    <image class="post-image" src="{{ product.image.url }}" style="width:30%;"/>
                                </a>
                            <br>
                            {% endif %}


                        {% endif %}
                            
                            
                {% endfor %}

                {% else %}
                <p>No results.</p>
            {% endif %}
        {% endif %} 
    </div>
</div>



<div class="heart">
    <form method="POST" action="{% url 'add_to_wishlist' user.id product.id %}">
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}">
        <button type="submit"><i id="btn" class="far fa-heart"></i></button>    
    </form>
</div>








{% for wishlist in wishlists %}

    <div class="tweet-list">
       
        
            <div class="content">

                <div class="name">
                        <span class="nickname">
                            <a href="#/">{{ wishlist.product }}</a> 
                        </span>
                        
        

                <p>
                    {{ wishlist.product_brand }}    
                </p>


          
            </div>
        </div>
    
    </div>



{% endfor %}




{% endblock %}