{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-start">
    <div class="title">
        <h1>New in the curly hair community ?</h1>
        <br>
        <h2>Welcome !</h2> 
    </div>
    <br><br><br><br>
    <div class="welcome">
        <p>Start your curly hair journey</p>
        <button href="{% url  'login' %}" type="submit" class="sign-in">SIGN IN</button>
        <br><br>
        <p>If you do not have an account yet</p>
        <button href="{% url  'register' %}" type="submit" class="sign-up">SIGN UP</button>
    </div>
    <br><br><br><br><br><br>

</div>










{% endblock %}
